@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

:root {
  --principal-1: #3d535f;
  --principal-2: #33F6FF;
  --principal-3: #f3f5f8;
  --fondo-1: #f3f5f8; 
  --fondo-2: #313232;
  --secundario-2: #138BE4;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#root{
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--fondo-1);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99vw;
  margin: 0;
}

.downOutline{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#downOutline1{
  position: relative;
  animation: moveDown1 1s ease-in-out infinite alternate;
}

@keyframes moveDown1 {
  from {
    top: -10px;
  }

  to {
    top: 0;
  }
}


#downOutline2{
  position: relative;
  top: -50px;
  animation: moveDown2 1s ease-in-out infinite alternate;
}

@keyframes moveDown2 {
  from {
    top: -40px;
  }

  to {
    top: -30px;
  }
}

.container {
  width: 65vw;
  flex-grow: 1;
}


.dark-theme{
  color: var(--principal-3);
  background-color: var(--fondo-2);
}

.dark-theme h1{
  color: var(--principal-3);
}