nav {
  height: 70px;
  z-index: 111;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  width: 100%;
}

.navItems {
  padding: 0px;
  display: flex; 
}

#nav1 {
  margin-right: auto; 
}
#nav2 {
  margin-left: auto; 
}

.navItems button {
  font-size: 10px;
  color: var(--principal-1);
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
}

#button{
  border: solid;
  position: relative;
  top: 20px;
}

a {
  text-decoration: none;
  color: #333; 
  font-weight: bold; 
  margin-right: 5px;
  margin-left: 5px;
}