.project{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}

.project h1 {
  margin-bottom: 100px;
}

.frontSide p {
  background-color: var(--principal-2);
  padding: 5px 10px;
  border-radius: 50px;
  color: black;
  position: relative;
  top: 70px;
}

.projects-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(3, 100px); 
  width: 100%;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  row-gap: 200px;
}

.myCard {
  background-color: transparent;
  width: 500px;
  height: 254px;
  perspective: 1000px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /*cursor: pointer;*/
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
  height: 254px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.card1-front,
.card1-front::before {
  background-image: url('../img/spotify-clon.png');
  background-size: cover;
}

.card2-front,
.card2-front::before {
  background-image: url('../img/pokedex.png');
  background-size: cover;
}

.card3-front,
.card3-front::before {
  background-image: url('https://images.pexels.com/photos/19049977/pexels-photo-19049977/free-photo-of-mar-hombre-saludar-surfero.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
}

.card4-front,
.card4-front::before {
  background-image: url('https://images.pexels.com/photos/19049977/pexels-photo-19049977/free-photo-of-mar-hombre-saludar-surfero.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
}

.backSide,
.backSide::before {
  background: rgb(67, 67, 67)
}

.backSide {
  transform: rotateY(180deg);
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

@media (max-width: 950px) {
  .projects-grid {
    grid-template-columns: 1fr; /* Cambia a una columna en dispositivos más pequeños */
    grid-template-rows: repeat(6, 100px); /* Ajusta el número de filas */
  }
}

.dark-theme .target-font {
  color: black;
}

.dark-theme .backSide {
  background: rgb(243, 243, 243)
}
