.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  overflow: hidden;
  min-height: 80vh;
}


.cols {
  flex: 1;
  text-align: center;
  font-size: 2rem;
}

.cols0 {
  z-index: 5;
  
}

.topline {
  display: block;
  font-size: 45px;
  letter-spacing: 5px;
  color: var(--principal-1);
}

.barra::after {
  content: "";
  height: 4px;
  width: 30px;
  background-color: var(--principal-2);
  display: inline-table;
  margin: 10px auto;
}

h1 {
  font-size: 3em;
  font-weight: 900;
  color: var(--principal-1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.multitext {
  color: var(--principal-2);
  text-transform: capitalize;
  margin-left: 10px;
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
}

.dark-theme .topline {
  color: #fff; 
}

.dark-theme .im {
  color: #fff; 
}