* {
  min-width: 0;
  font: inherit;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video, svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
  background: rgb(0,0,0);
background: linear-gradient(350deg, rgba(0,0,0,1) 51%, rgba(5,7,8,1) 63%, rgba(11,16,17,1) 74%, rgba(23,36,37,1) 88%, rgba(9,26,28,1) 100%);
  color: aliceblue;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p { 
  text-wrap: pretty;
}

