/* Estilos para la lista y sus elementos */
.ul-tags {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  margin-top: 60px;
  min-width: 100%;
  overflow-x: auto; /* Agrega un desplazamiento horizontal si los elementos son demasiado anchos */
  scrollbar-width: thin; /* Firefox */
  overflow: hidden; /* Oculta la barra de desplazamiento por defecto */
  transition: overflow 0.3s, margin-right 0.3s; /* Agrega una transición suave para la propiedad overflow y margin-right */
}

.ul-tags:hover {
  overflow: auto; /* Muestra la barra de desplazamiento cuando haces hover */
 
}

.li-tags {
  font-size: 0.9rem;
  background-color: rgba(169, 168, 198, 0.2);
  padding: 10px;
  border-radius: 10px; 
  margin-bottom: 8px;
  height: 35px;
  flex-shrink: 0; /* Evita que los elementos se achiquen */
  transition: background-color 0.3s; /* Agrega una transición suave para el cambio de color de fondo */
}

.li-tags:hover {
  background-color: rgba(169, 168, 198, 0.467);
  cursor: pointer;
}

/* Estilos para la barra de desplazamiento */
.ul-tags::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.ul-tags::-webkit-scrollbar-thumb {
  background-color: rgba(169, 168, 198, 0.4); /* Color del control deslizante */
  border-radius: 4px; /* Borde redondeado del control deslizante */
}
