.container-hora {
  width: auto; 
  overflow-x: auto; 
  white-space: nowrap;
  margin-top: -90px; 
}
 
.carrusel {
  display: inline-flex; /* Usamos flexbox en línea para que las horas no se envuelvan */
  gap: 10px; /* Espacio entre las horas */
  
}

.hora {
  width: 160px; /* Ancho de cada hora */
  height: 200px; /* Altura de cada hora */
  border: solid 1px rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.29);
}

.tarjeta-hora {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjeta-hora-1 img {
  height: 50px;
  width: 50px;
}

.hora-hora {
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
  border-radius: 6px 6px 0 0;
  color: black;
}

.tarjeta-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: -8px;
}

.iconos-dia-hora {
  height: 35px;
}

.container-hora::-webkit-scrollbar {
  width: 18px;
  height: 5px;
  opacity: 0; /* Inicialmente, hacemos la barra de desplazamiento transparente */
  transition: opacity 0.3s; /* Agregamos una transición suave para que aparezca y desaparezca gradualmente */
}

.container-hora:hover::-webkit-scrollbar {
  opacity: 1; /* Cuando el cursor está sobre el contenedor, hacemos la barra de desplazamiento visible */
}

.container-hora::-webkit-scrollbar-track {
  background: rgba(255, 251, 251, 0.1); /* Color de fondo de la barra de desplazamiento */
}

.container-hora::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3); /* Color del pulgar de la barra de desplazamiento */
  border-radius: 4px; /* Borde redondeado del pulgar */
}

.container-hora::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5); /* Color del pulgar al pasar el mouse sobre él */
}

@media screen and (max-width: 1450px) {

  .container-hora {
    height: 500px;
    overflow-y: scroll;
    overflow-x: visible;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .carrusel {
    height: 500px;
    width: 905px;
    flex-direction: column;
  }

  .hora {
    width: 100%; 
    height: auto; 
  }

  .tarjeta-hora {
    width: 900px;
    flex-direction: row;
    height: 100px;
  }

  .tarjeta-hora-1 {
    width: 25%;
    display: flex;
    justify-content: center;
  }

  .tarjeta-hora-2 {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .container-hora::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    opacity: 0; /* Inicialmente, hacemos la barra de desplazamiento transparente */
    transition: opacity 0.3s; 
    position: relative;/* Agregamos una transición suave para que aparezca y desaparezca gradualmente */
  }
}

@media screen and (max-width: 1000px) {

  .container-hora {
    width: 601px;
  }

  .tarjeta-hora {
    height: 70px;
  }

  .tarjeta-hora, .hora-hora{
    width: 595px;
  }

  .carrusel {
    width: 605px;
  }

}

@media screen and (max-width: 650px) {
  .container-hora {
    width: 381px
  }

  .tarjeta-hora, .hora-hora{
    width: 375px;
  }

  .carrusel {
    width: 385px;
  }

  .iconos-dia-hora {
    display: none;
  }
}

@media screen and (max-width: 480px) {

  .carrusel {
    
  }

  .container-hora {
    width: 371px;
    height: 280px;
    margin-left: -5px;
  }

  .tarjeta-hora, .hora-hora{
    width: 365px;
  }

  .carrusel {
    width: 375px;
  }
}