.localidad {
  font-size: 28px;
}

.container-temperatura {
  display: flex;
  align-items: center;
  justify-content: end;
}

.temperatura {
  font-size: 100px;
  margin-top: 20px;
  margin-bottom: 45px;
  font-weight: 400;
}

.container-datos {
  font-size: 35px;
}

.datos-extra {
  font-size: 22px;
}

.min-max-portada {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.min-max-portada p {
  margin: 0;  
}

.container-localidad p {
  font-size: 23px;
}

@media screen and (max-width: 1450px) {

  .localidad {
    font-weight: 400;
  }

  .container-localidad {
    text-align: start;
    margin-left: 20px;
  }

  .container-localidad p {
    font-size: 25px;
 

  }

  .container-temperatura {
    flex-direction: column; 
    text-align: start;
    width: 50%;
  }

  .temperatura {
   margin: 10px 0 30px -125px;
   width: auto;
   font-weight: 400;
  }

  .container-datos {
    width: 50%;
    position: relative;
    text-align: start;
    margin-left: 25px;
    font-weight: 400;
  }

  .min-max-portada {
    justify-content: start;
    font-weight: 400;

  }
}

@media screen and (max-width: 1000px) {
  .temperatura {
    margin-left: 125px;
    width: 400px;
  }

}

@media screen and (max-width: 650px) {
  .temperatura {
    margin: 0px 0 10px 150px;
    font-size: 60px;
    width: 300px;
  }

  .container-localidad h2 {
    margin-bottom: -10px;
    margin-top: 0;
  }

  .container-localidad p {
    margin-bottom: 0px;
    margin-top: 15px;
  }

  .datos-extra {
    width: 300px;
  }

  .min-max-portada {
    font-size: 20px;
  }
}