.localidad {
  font-size: 25px;
}

.container-temperatura {
  display: flex;
  align-items: center;
  justify-content: end;
}

.temperatura {
  font-size: 100px;
  margin-top: 50px;
  margin-bottom: 45px;
  
}

.container-datos {
  font-size: 30px;
}

.datos-extra {
  font-size: 22px;
}

.datos-extra p {
  background-color: rgba(0, 0, 0, 0.555);

}

.min-max-portada {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.min-max-portada p {
  margin: 0;  background-color: rgba(0, 0, 0, 0.555);

}