.container-habilities {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}

.container-habilities h2 {
  font-size: 70px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.08em;
  margin-left: 130px;
  margin-bottom: 30px;
}

.container-habilities ul{
  display: flex;
  justify-content: center;
  list-style: none;
  margin-right: -20px;
}

.container-habilities-info {
  height: 500px;
  width: 50%;
  z-index: 1000;
  
}

.container-video {
  flex: 1; /* Ocupa el espacio disponible */
  max-width: 600px; /* Máximo ancho para pantallas grandes */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 20px;
}


.custom-video {
  width: 80%; /* Ajusta el valor según tus necesidades para obtener el ancho deseado */
  transform-origin: center center;
  transform: scale(1.2); /* Ajusta el valor para obtener el efecto de zoom */
}

.img-habilitie {
  padding: 20px 15px;
  transition: transform 0.3s ease-in-out;
}

.img-habilitie::before {
  content: '';
  border: solid;
  position: relative;
  height: 100px;
  width: 100px;
  overflow: hidden;
}


.img-habilitie:hover {
  transform: translateY(-5px);
}

.img-habilitie.selected {
  transform: translateY(-18px);
}

.background-habilities {
  position: absolute;
  height: 600px;
  width: 600px;
  opacity: 0.1;
}

.background-f-habilities {
  position: absolute;
  height: 900px;
  width: 900px;
  opacity: 0.1;
}

.spells-info {
  position: absolute;
  left: 18%;
  height: 100px;
  width: 380px;
  margin-top: 30px;
}

.spells-info h4 {
  font-size: 25px;
}

.spells-info h6 {
  color: rgb(69, 72, 75);
}

@media only screen and (max-width: 900px) {
  /* Estilos específicos para dispositivos móviles en modo retrato con ancho máximo de 320px */
  .container-habilities h2 {
    display: none;
  }

  .container-habilities-info ul {
    margin-top: 300px;
    margin-right: 0;
  }

  .container-video {
    position: absolute;
    margin-top: -200px;
  }

  .background-f-habilities {
    display: none;
  }

  .background-habilities {
    display: none;
  }

  .container-video {
    height: 280px;
  }

  .img-habilitie {
    padding: 5px;
    margin: 0 5px;
    height: 70px;
    width: 70px;
  }

  .spells-info {
    margin-left: 0;
    width: 300px;
    left: 18%;
  }
}