.galery-section {
  color: white;
  width: 85%;
  height: 800px;
  display: flex;
  align-items: center;
  margin-top: 150px;
  background-size: cover; /* Ajusta según tus preferencias (puede usar 'contain' también) */
  background-position: center center;
}

.skins-carousel {
  width: 30%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.skins-carousel hr {
  width: 80%;
}

.skins-carousel h2 {
  text-align: start;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.08em;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: -40px;
}

.skins-carousel-div {
  height: 70%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -30px;
}

.skins-carousel-div::-webkit-scrollbar {
  width: 0.25em; 
}

.skins-carousel-div::-webkit-scrollbar-thumb {
  background-color: #88888863; 
}

.skins-carousel-div:hover {
  cursor: pointer; 
}

.skins-carousel-div:active {
  cursor: grab; 
}

.skins-button-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  counter-reset: index;
}

.skins-button-container li {
  animation: animate-in linear forwards,
  animate-out linear forwards;
  animation-timeline: view();
  animation-range: entry, exit;
}

.button-carousel {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.button-carousel img {
  height: 60px;
  width: 70px;
  margin-left: 65px;
}

.button-carousel p {
  margin-left: 15px;
  text-align: start;
  letter-spacing: 0.08em;
}

.button-carousel:hover {
  transform: scale(1.1);
}

@keyframes animate-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animate-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.img-carousel {
  height: 300px;
  width: 300px;
  margin-left: 30px;
 
}

.img-carousel::before {
  content: '';
  border: solid;
  position: relative;
  height: 100px;
  width: 100px;
  overflow: hidden;
}


.img-carousel:hover {
  transform: scale(1.1);
}

.img-carousel.selected {
  transform: scale(1.3);
}