/* Champions.css */

.champions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
  max-width: 1300px;
  margin: 10px auto;
  /* Ajusta según sea necesario */
  padding-top: 20px;
}

.champion-img-container {
  position: relative;
  width: auto;
  height: 300px;
  overflow: hidden;
}
@media only screen and (max-width: 480px) {
  .champions-grid {
    padding-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    margin-left: 10px;
    margin-right: 10px;
  }
  .champion-img-container {
    height: 200px;
  }
}

.champions-image {
  transform: scale(1.05);
  position: relative;
  top: 0px;
  right: 0px;
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
  /* Ajusta la duración y la función de temporización */
}

.champions-image.champion-img-container {
  position: relative;
  width: auto;
  height: 300px;
  overflow: hidden;
}

.champions-image:hover {
  transform: scale(1.0);
}

.champion-img-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent, transparent 20%, black 20%, black 100%);
  pointer-events: none;
  z-index: 1;
  width: 0;
  height: 0;
  border-right: 10px solid #ffffff;
  border-top: 10px solid #fff8f8;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.champion-img-container:hover::before {
  opacity: 0;
}

h3 {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 0.08em;
  text-overflow: ellipsis;
  background-color: rgb(34, 35, 39);
  color: aliceblue;
  position: relative;
  padding: 15px;
  transition: 0.3s ease-in-out;
}

.champion-item:hover h3 {
  background-color: rgb(30, 124, 156);
  padding-left: 25px;
  transition: 0.3s ease-in-out;
}

.a {
  text-decoration: none;
}