.nav {
  height: 60px;
  width: 100%;
  background-color: rgb(22, 22, 22);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(174, 160, 2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-fillers {
  display: flex;
  gap: 20px;
}

.nav-fillers a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav-button a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.icon-nav{
  height: 70px;
  width: 110px;
}