.nav {
  height: 60px;
  width: 100%;
  background-color: rgb(22, 22, 22);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-fillers {
  display: flex;
  gap: 20px;
}

.nav-fillers a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}